div.message-item-area{
    border-radius: 2.5px !important;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0px 1.25px 3px 0px rgb(168, 168, 168);
}

div.message-item-area{
    padding-top: 10px !important;
	border-width: 0.5px;
	border-color: gray;
}

div.message-item-white-wrap{
    border-radius: 2.5px !important;
	padding-bottom: 0px !important;
    padding-top: 0px !important;
}

div.footer-reply-area-wrap {
    border-radius: 2.5px !important;
    box-shadow: 0px 1.25px 3px 0px rgb(168, 168, 168) !important;
}

div.composer-outer-wrap{
    border-radius: 2.5px !important;
    box-shadow: 0px 1.25px 3px 0px rgb(168, 168, 168) !important;
}

div.composer-centered, 
div.composer-action-bar-wrap{
    border-radius: 2.5px !important;
}

