@import "variables";

.notifications-sticky, .notification-developer, .notifications-sticky-item, .notification-info {
  color: @white !important;
  background: @taiga-accent !important;

  .action {
    color: @white !important;
    background: darken(@taiga-accent, 20%) !important;
  }
}

.notification {
  color: @white !important;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

