div.scrollbar-track{
    width: 6px;
	padding-left: 4px;
}
div.scrollbar-track-inner {
    background: transparent;
	border-width: 0px;
    box-shadow: none;
    border-radius: 0px !important;
}
div.scrollbar-handle {
    background-color: #c7c7c7;
    border-width: 0px !important;;
    border-radius: 0px !important;
}

div.scrollbar-track:hover,
div.scrollbar-track:active {
	transition: all 0.1s linear !important;
	background-color: rgba(128,128,128,0.11);
	width: 12px;
}

div.scrollbar-track{
	padding: 0px;
	background-color: transparent;
	border-left: 0px;
}