/*
 * File: sidebar.less
 *
 * This file handles the left sidebar containing your email accounts and its folders.
 *
 * Note that all the icons are identified by their name, since its easy this way.
 * This will likely break with the upcomming multi-language suport. 
 *
 */

@import "variables";

.column-MessageListSidebar,
.column-MessageList,
.scroll-region.messages-wrap,
.messages-wrap > .scroll-region-content {
  background-color: #f2f2f2 !important;
}

div.account-switcher * {
  content: url("mailspring://Material-Spring/img/3dots@2x.png");
  width: auto !important;
  height: 20px !important;
}

.account-sidebar-sections {
  background-color: @taiga-lighter !important;

  .heading {
    padding-bottom: 5px;
  }

  section {
    .item-container {
      margin: 0 10px 0 0 !important;

      .disclosure-triangle {
        display: flex;
        align-items: center;
        width: 15px;
        div {
          border-left-color: @taiga-light;
          border-top-width: 3px;
          border-bottom-width: 3px;
          border-left-width: 5px;
          transform-origin: 2px;
        }
      }

      .item {
        padding: 0 10px !important;
        color: @taiga-light !important;
        cursor: pointer !important;

        img {
          -webkit-mask-size: 100%;
        }

        img[alt="inbox.png"] {
          -webkit-mask-image: url("mailspring://Material-Spring/img/inbox@2x.png") !important;
        }
        img[alt="unread.png"] {
          -webkit-mask-image: url("mailspring://Material-Spring/img/mark-unread@2x.png") !important;
        }
        img[alt="starred.png"] {
          -webkit-mask-image: url("mailspring://Material-Spring/img/star@2x.png") !important;
        }
        img[alt="reminders.png"] {
          -webkit-mask-image: url("mailspring://Material-Spring/img/reminder@2x.png") !important;
        }
        img[alt="important.png"] {
          -webkit-mask-image: url("mailspring://Material-Spring/img/bell@2x.png") !important;
        }
        img[alt="snoozed.png"] {
          -webkit-mask-image: url("mailspring://Material-Spring/img/snooze@2x.png") !important;
        }
        img[alt="sent.png"] {
          -webkit-mask-image: url("mailspring://Material-Spring/img/sent@2x.png") !important;
        }
        img[alt="all.png"] {
          -webkit-mask-image: url("mailspring://Material-Spring/img/mail-all@2x.png") !important;
        }
        img[alt="spam.png"] {
          -webkit-mask-image: url("mailspring://Material-Spring/img/spam@2x.png") !important;
        }
        img[alt="trash.png"] {
          -webkit-mask-image: url("mailspring://Material-Spring/img/trash@2x.png") !important;
        }
        img[alt="drafts.png"] {
          -webkit-mask-image: url("mailspring://Material-Spring/img/draft@2x.png") !important;
        }
        img[alt="activity.png"] {
          -webkit-mask-image: url("mailspring://Material-Spring/img/chart2@2x.png") !important;
        }
        img[alt="activity.png"] {
          -webkit-mask-image: url("mailspring://Material-Spring/img/chart2@2x.png") !important;
        }

        .item-count-box {
          background: transparent !important;
          color: @taiga-light !important;
          box-shadow: 0 0.5px 0 @taiga-light, 0 -0.5px 0 @taiga-light, 0.5px 0 0 @taiga-light, -0.5px 0 0 @taiga-light !important;
        }

        &.selected {
          //because of the ripple effect:
          position: relative;

          background: rgba(202, 219, 245, 0.8) !important; //#CADBF5 with 0.8 alpha
          margin-left: -40px;
          padding-left: 50px !important;
          padding-right: 5px !important;
          border-radius: 0px;
          color: @taiga-dark !important;

          margin-right: 0px;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;

          .item-count-box {
            background: transparent !important;
            color: @taiga-dark !important;
            box-shadow: 0 0.5px 0 @taiga-dark, 0 -0.5px 0 @taiga-dark, 0.5px 0 0 @taiga-dark, -0.5px 0 0 @taiga-dark !important;
          }

          .icon {
            img {
              background: @taiga-dark !important;
            }
          }
        }
        &#N1-Snoozed .icon img {
          background: orangered !important;
        }
      }
    }
  }
}

/*
.account-sidebar-sections section > div > div{
  // Inbox icon
  &:nth-child(1) > .item-container .item .icon img{
    background: @toolbar-bg!important;
  }
  // Sent mail icon
  &:nth-child(5) > span.item-container > .item > .icon img{
    background: green!important;
  }
}
*/
